<div class="container-fluid w-auto">
    <div class="container w-100 h-100">
        <div class="card shadow-none border-0 rounded-0 bg-transparent">
            <div class="container w-100 h-auto mt-2">
                <div class="row row-cols-2 mt-4">
                    <div class="col d-flex align-content-start justify-content-center">
                        <img src="../../../assets/img/home/asesores-card-banner.svg" class="img-fluid rounded-2" alt="...">
                    </div>
                    <div class="col pe-4">
                        <div class="card shadow-none border-0 bg-transparent">
                            <div class="card-title text-lg-end">                  
                                <span class="h1 title-description">
                                    Valuación experta para tu automóvil
                                </span>
                            </div>
                            <div class="card-subtitle mt-1 text-lg-end">
                                <span>
                                    Expertos certificados en valoración automotriz, brindando la máxima precisión para obtener la mejor oferta de compra.
                                </span>
                            </div>
                            <div class="card-body px-0">                
                                <button type="button" class="btn btn-outline-success rounded-3 d-flex justify-content-center align-items-center text-uppercase w-50 float-end" routerLink="/asesores">
                                    <mat-icon class="mx-2 me-2">3p</mat-icon>
                                    Conócenos
                                </button>
                            </div>       
                            <div class="card-footer shadow-none border-0 bg-transparent px-0">
                                <div class="row">
                                    <div class="col  text-lg-end">
                                        <span class="title-footer">Asesores certificados 30+</span>
                                        <span class="d-block pt1">
                                            Experiencia certificada de 15 años en evaluación de autos para asegurar la mejor oferta.
                                        </span>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>        
        </div>      
    </div>
</div>