<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <span class="offcanvas-title h6" id="offcanvasWithBothOptionsLabel">AutoAdvisor Plus</span>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group list-group-light">
        <a class="list-group-item list-group-item-action px-3 border-0 active ripple" aria-current="true" routerLink="">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a class="list-group-item list-group-item-action px-3 border-0 ripple" routerLink="/usados">
          <mat-icon>directions_car</mat-icon>
          Vende tu auto
        </a>
        <a class="list-group-item list-group-item-action px-3 border-0 ripple" routerLink="/asesores">
          <mat-icon>support_agent</mat-icon>
          Asesores
        </a>
        <a class="list-group-item list-group-item-action px-3 border-0 ripple" routerLink="/catalogo">
          <mat-icon>emoji_transportation</mat-icon>
          Catalogo
        </a>        
        <a class="list-group-item list-group-item-action px-3 border-0 ripple" routerLink="/nosotros">
          <mat-icon>contact_support</mat-icon>
          Conócenos
        </a>
      </div>
    </div>
</div>