.portada {
    display: flex;
    justify-content: center;
  }
  
  .img1 {
    height: 400px;
    width: 1400px;
  }
  .container {
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .text {
    text-align: left;
  }
  
  .text h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .text p {
    margin-bottom: 10px;
  }
  
  .image {
    text-align: right;
  }
  
  .image img {
    width: 200px;
    border-radius: 5px;
  }
  .container {
    width: 800px;
  }
  .container img {
    margin-top: 20px;
    /* Resto de estilos... */
  }
  .container {
    background-color: #1a237e;
    box-shadow: 0 0 10px rgba(26, 35, 126, 0.5); 
    color: white;
}

.boton-asesores {
    border-radius: 8px;
    font-size: 16px;
  }