<div class="container-fluid w-auto">
    <div class="container w-100 h-100">
        <div class="card shadow-none border-0 rounded-0 bg-transparent">
            <div class="container w-100 h-auto mt-2">
                <div class="row row-cols-2 mt-4">
                    <div class="col">
                        <div class="card shadow-none border-0 bg-transparent">
                            <div class="card-title">                  
                                <span class="h1 title-description">
                                    Vende tu auto con facilidad y rapidez
                                </span>
                            </div>
                            <div class="card-subtitle mt-1">
                                <span>
                                    Ofrece tu auto y obtén la máxima valoración de compra gracias a la evaluación experta de nuestros asesores.
                                </span>
                            </div>
                            <div class="card-body d-flex px-0">                
                                <button type="button" class="btn btn-outline-success rounded-3 d-flex justify-content-center align-items-center text-uppercase w-50" routerLink="/usados">
                                    Vender
                                <mat-icon class="mx-2">currency_exchange</mat-icon>
                                </button>
                            </div>       
                            <div class="card-footer shadow-none border-0 bg-transparent px-0">
                                <div class="row">
                                    <div class="col">
                                        <span class="title-footer">Ofrecenos tu automóvil</span>
                                        <span class="d-block pt-1">
                                            Tu evaluación será immediata, con una oferta de compra que no rechazarás.
                                        </span>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="col d-flex align-content-start justify-content-center">
                        <img src="../../../assets/img/home/used-car-banner.svg" class="img-fluid rounded-2" alt="...">
                    </div>
                </div>
            </div>        
        </div>      
    </div>
</div>