<div class="container-fluid">
	<mat-progress-bar color="warn" class="mt-4" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

	<div class="container container-caja text-center rounded-3 overflow-hidden my-5 p-0" *ngFor="let items of asesores">
		<div class="product-details position-relative overflow-hidden py-4 px-2 float-start">
			<span class="h3 px-3">{{items.nombres}}</span>
			<hr class="bg-dark opacity-75">
			<span class="information w-100 d-block mt-3 px-3">{{items.descripcion}}</span>
			<div class="container h-auto mt-4">
				<button class="btn d-flex align-items-center" (click)="openEmail(items)">
					<span class="price">
						<mat-icon>mail</mat-icon>
					</span>
					<span class="shopping-cart">
						<mat-icon>send</mat-icon>
					</span>
					<span class="buy">Contáctame</span>
				</button>
			</div>				
		</div>
		<div class="product-image">
			<img src="../../../assets/img/advisors/{{items.imagen}}.jpg" alt="" class="img-fluid cover">
			<div class="info pt-4 ps-3">
				<span class="h5">Información</span>
				<ul class="mt-2">
					<li>Experiencia: {{items.aniosExperiencia}} años</li>
					<li>Idiomas: {{items.idiomas}}</li>
					<li>Telefono: {{items.telefono}}</li>
					<li>Correo: {{items.correo}}</li>
					<li>Edad: {{items.fechaNac |date:"Y-M-d" }}</li>
					<li>Especialidad: {{items.especialidad}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>