<div class="container-fluid w-100 vh-100 p-0">
    <div class="row d-flex align-items-end">
        <span class="text-title">404</span>
    </div>
    <div class="row row-text">
        <div class="container d-flex flex-column align-items-center">
            <p class="mt-5 mb-4">Lo siento, página no encontrada</p>
            <p>No se pudo encontrar la página que solicitaste</p>
            <button class="btn mt-4 w-25" routerLink="">
                <mat-icon>home</mat-icon>
            </button>
        </div>        
    </div>
</div>