<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AutoAdvisor+</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <i class="fa-solid fa-car fa-hamburger"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/autos">
            <span>Autos</span>
            <span><i class="fa-solid fa-car"></i></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/asesores">
            <span>Asesores</span>
            <span><i class="fa-solid fa-user"></i></span>
          </a>
        </li>       
        <li class="nav-item">
          <a class="nav-link" routerLink="/usados">
            <span>Usados</span>
            <span><i class="fa-solid fa-car-side"></i></span>
          </a>
        </li>            
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">
            <span>Nosotros</span>
            <span><i class="fa-sharp fa-solid fa-building"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>