<div class="card border-success m-0" style="width: 20rem;">
    <div class="card-header bg-transparent border-success">
        <span class="h5">{{ cita.nombresCliente }}</span>
    </div>
    <div class="card-body">
        <table>
            <tr>
              <td><strong>Auto:</strong></td>
              <td style="padding-left: 10px;">{{ cita.auto }}</td>
            </tr>
            <tr>
              <td><strong>Nombre:</strong></td>
              <td style="padding-left: 10px;">{{ cita.nombresCliente }}</td>
            </tr>
            <tr>
              <td><strong>Teléfono:</strong></td>
              <td style="padding-left: 10px;">{{ cita.telefono }}</td>
            </tr>
            <tr>
              <td><strong>Correo:</strong></td>
              <td style="padding-left: 10px;">{{ cita.correo }}</td>
            </tr>
            <tr>
              <td><strong>Asesor:</strong></td>
              <td style="padding-left: 10px;">{{ cita.nombresAsesor }}</td>
            </tr>
          </table>
    </div>
    <div class="card-footer bg-transparent border-success" style="font-size: x-small;">La cita es {{ cita.fecha | date }} a las {{ cita.hora }}</div>
</div>
  