<div class="container-fluid w-auto d-flex justify-content-center align-items-start p-3 shadow m-4 rounded-4 bg-white">
  <div class="container w-100">
    <div class="w-100 text-center card border-0 shadow-sm mb-3">
      <span class="h3 title w-100">Gestionar Carros Usados</span>
    </div>
    <div class="card-content">
      <mat-progress-bar color="warn" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <div class="row">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input autocomplete="off">
        </mat-form-field>
      </div>
      <div class="container-table">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="auto"> 
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-25"> Auto </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="año"> 
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
            <td mat-cell *matCellDef="let row"> {{row.anio}} </td>
          </ng-container>
          
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dueño </th>
            <td mat-cell *matCellDef="let row"> {{row.nombreVendedor}} </td>
          </ng-container>

          <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
              <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
          </ng-container>   
          
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.estado === 'esperando'" class="badge text-bg-info rounded-pill d-inline fw-normal px-2 py-2">Esperando</span>
              <span *ngIf="row.estado === 'aceptado'" class="badge text-bg-success rounded-pill d-inline fw-normal px-2 py-2">Aceptado</span>
              <span *ngIf="row.estado === 'rechazado'" class="badge text-bg-danger rounded-pill d-inline fw-normal px-2 py-2">Rechazado</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Acción </th>
            <td mat-cell *matCellDef="let row">
              <div class="container d-flex justify-content-evenly p-0">
                <button class="btn btn-accion btn-outline-primary" (click)="openInfo(row, 'informacion')">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button *ngIf="row.estado === 'esperando'" class="btn btn-outline-success btn-accion" (click)="openAceptar(row, 'aceptar')">
                  <mat-icon>check_circle</mat-icon>
                </button>
                <button *ngIf="row.estado === 'esperando'" class="btn btn-outline-danger btn-accion" (click)="openRechazar(row, 'rechazar')">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
              
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
      </div>     
    </div>
  </div>
</div>
