.container-fluid{
  background-color: var(--Green);
  padding: 0;
}

.container-top {
  background-color: var(--White);
  border-radius: 0 0 4rem 4rem;
}

.btn-menu, .text-menu{
  color: var(--Green);
}

hr{
  color: var(--Green);
}

.card-footer .footer-nota{
  font-size: x-small;
}

a{
  display: flex;
  align-items: center;
}

a mat-icon{
  margin-right: 1rem;
}

.active{
  background-color: var(--Green);
}
  
@media (max-width: 900px) {
  .title-description{
    font-size: x-large;
  }
}
