<div class="container-fluid w-auto h-auto py-5">
    <div class="row row-cols-2">
        <div class="col">
            <div class="blog-card d-flex rounded-4 overflow-hidden">
                <div class="meta">
                    <div class="photo" style="background-image: url(https://www.renaultcoacalco.com.mx/resourcefiles/inner-page-snippet-image/opcionesdefinanciamiento-snippet1.jpg)"></div>
                </div>
                <div class="description ps-4">
                    <span class="h2 d-block">Misión</span>
                    <span class="h6">Acceso fácil a información</span>
                    <p>
                        Revolucionar la industria automotriz a través de una plataforma tecnológica confiable y fácil de usar, brindando acceso a información detallada de vehículos, programación de citas con asesores especializados y facilitando la venta de automóviles usados.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="blog-card d-flex rounded-4 overflow-hidden">
                <div class="meta">
                    <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                </div>
                <div class="description">
                    <span class="h2 d-block">Visión</span>
                    <span class="h6">Acceso fácil a información</span>
                    <p>
                        Impulsar el futuro de las experiencias automotrices, transformando la forma en que las personas compran y venden automóviles, ofreciendo una plataforma intuitiva, protección de datos confiable y una interacción eficiente con la industria automotriz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>